
<footer class="bg-light text-muted">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Chi siamo</h5>
        <p>Breve descrizione dell'azienda o sito.</p>
      </div>
      <div class="col-md-4">
        <h5>Useful Link</h5>
        <ul class="list-unstyled">
          <li><a href={{ path("home") }}>Ajoute Recette</a></li>
          <li><a href={{ path("home") }}>Accueil</a></li>
          <li><a href={{ path("app_recipe_index") }}>Recette </a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: info@nostress.com<br>Telefono: +32 465 65 002</p>
      </div>
    </div>
  </div>
</footer>
